@import "../node_modules/primereact/resources/themes/lara-light-cyan/theme.css";

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  .bethema-bg {
    background: linear-gradient(to right, #000000 -20%, #ffc163 100%) !important;
  }

  #portfolio {
    width: 110%;
  }
}

.bethema-bg-color {
  background-image: linear-gradient(to right, #000000 -20%, #ffc163 100%);
}

.page-scroll {
  color: white !important;
}
