@import "../node_modules/primereact/resources/themes/lara-light-cyan/theme.css";

@media screen and (max-width: 400px) {
  #features {
    /* padding: 20px; */
    width: 110%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #header,
  #footer {
    width: 115%;
  }

  .bethema-bg {
    background: linear-gradient(to right, #000000 -20%, #ffc163 100%) !important;
  }

  #portfolio {
    width: 110%;
  }
}

.bethema-bg-color {
  background-image: linear-gradient(to right, #000000 -20%, #ffc163 100%);
}

.page-scroll {
  color: white !important;
}

.p-card {
  height: 500px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .p-card {
    height: 459px !important;
  }
  .d-mobile {
    display: contents !important;
  }

  .d-desktop {
    display: none !important;
  }

  #about img {
    margin-bottom: 0px !important;
  }

  header {
    width: 115%;
    height: 27%;
  }

  .intro h1 {
    font-size: 45px;
  }

  .intro p {
    font-size: 20px;
  }

  .intro1 h1 {
    font-size: 45px;
  }

  .intro1 p {
    font-size: 20px;
  }
}

.d-desktop {
  display: contents;
}

.d-mobile {
  display: none;
}

.p-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p-card-content {
  flex: 1;
}

@media (max-width: 500px) {
  .padding-top-70 {
    padding-top: 70%;
  }
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.form-control {
  height: 45px !important;
}

.jhkgCg {
  height: 0%;
}

.eRyeDt {
  height: 0%;
}

.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.video-foreground {
  /* width: 100vw; */
  height: 50vh;
  /* min-width: 100vw;
  min-height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.portfolio-items {
  align-items: center;
  display: inline-table;
}
